.img-logo-jeu-top{

height: 45px;
margin-right: 45px;
}

.display-banner-top{

display: flex;
z-index: 1111111;

}

.desc-banner-top a{
float: right;
margin-top: 10px;

}

.desc-banner-top p{
    font-weight: 300;
width: 750px;
color: white;
}

.banner-top{

    background: rgb(22,143,216);
    background: linear-gradient(160deg, rgba(22,143,216,1) 0%, rgba(110,225,254,1) 51%);

}

.img-bcg{

z-index: 2;
position: absolute;
}